button{
    font-size: 1.5rem;
}

.main-container{
    display: flex;
    /*justify-content: space-around;*/
    align-items: center;
    flex-direction: column;
    gap: 5px;
    border: none;
    box-sizing: border-box;
    border: solid;
    border-radius: 30px;
    padding: 40px 10px 10px 10px;
}

.inputs{
    display: flex;
    gap: 10px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content div {
    padding: 8px;
    cursor: pointer;
}
.dropdown-content div:hover {
    background-color: #f1f1f1;
}

.navigator{
    display: flex;
    gap: 20px;
}
.searchInput {
    box-sizing: border-box;
    width: 100%;
    padding: 5px 10px;
    font-size: 1rem;
    border-radius: 20px;
    border: solid 2px;
}

.customButton{
    border-radius: 100%;
    height: 50px;
    width: 50px;
}

.change-floor:hover{
    background-color: orangered;
}

.change-floor{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: #E65417;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.destination-div{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: #E65417;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-image{
    width: 70%; 
    height: 70%; 
    object-fit: contain;
}

.destination-icon{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.icon-div{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon{
    height: 90%;
    object-fit: contain;
    border: solid white 2px;
    border-radius: 50%;
}

.legend{
    display: flex;
    align-items: center;
    gap: 10px;
}

.pallino{
    border-radius: 50%;
    height: 20px;
    aspect-ratio: 1;
}

.select-accessibility{
    width: 100%;
}

.step-container{
    position: absolute;
    z-index: 10000;
    display: flex;
    flex-direction: column;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    align-items: center;
    gap: 10px;
}
.text-instructions{
    font-size: 15px;
    background-color: white;
    border-radius: 20px;
    width: auto;
    overflow-wrap: break-word;
}
.map-buttons {
    display: flex;
    gap: 20px;
}

.step-button{
    padding: 5px 25px;
    border-radius: 20px;
    background-color: #FF9358;
    cursor: pointer;
    border: solid 2px;
}

select{
    border-radius: 10px;
}


.accessibility-checkbox{
    height: 15px;
    width: 20px;
}

.show-path-button:hover{
    background-color: lightgray;
}

.shadowed-text {
    display: inline;
    padding: 1px 3px;
    /*background-color: white;*/
    border-radius: 6px;
    /*width: 100px;*/
    text-align: center;
    font-size: 1rem;
    /*color: #F4BA19;
    text-shadow: 1.5px 0 #fff, 1.5px 0 #fff, 0 1.5px #fff, 0 1.5px #fff, 1.5px 1.5px #fff, -1.5px -1.5px #fff, 1.5px -1.5px #fff, -1.5px 1.5px #fff;*/
    text-shadow: -1.5px -1.5px 0 white, 1.5px -1.5px 0 white, -1.5px 1.5px 0 white, 1.5px 1.5px 0 white;
}

.labels{
    display: flex;
    transform: translate(-50%, -50%);
    align-content: center;
    justify-content: center;
}

.input{
    border: solid;
    border-radius: 20px;
    width: 100%;
    display: flex;
    cursor: pointer;
}

.back{
    border: solid 2px;
    border-radius: 10px;
    display: flex;
    width: fit-content;
    font-size: 1.5rem;
    padding: 0px 5px;
    cursor: pointer;
}